[Unit]
Description= PTP4L based Time Sync Service for Vilota Vision Modules
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -2 –i enP1p1s0 –S –m –step_threshold=1 –f /home/nvidia/Downloads/vilota/ptp4l_software_master.conf
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target